<div class="modal-header">
        <h4 class="modal-title">Search Projects</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <input type="text" [(ngModel)]="searchText" class="form-control" />
          </div>
      
          <div class="col-sm-6"><button type="reset" class="btn btn-primary" (click)="search()">Search Projects</button></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6 row">
            <select [(ngModel)]="taskProjectName" id="projectName" (change)="onChange($event)" class="form-control">
              <option value="0">--Select--</option>
              <option *ngFor="let project of Projects" value={{project.projectId}}>
                {{project.projectName}}
              </option>
            </select>
          </div>
          <div class="col-sm-3"></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="passBack()">Select</button>
        </div>