<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="projectName" class="col-sm-2 col-form-label">Project Name: </label>
    <div class="col-sm-10">
      <input type="text" formControlName="projectName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && getControls.projectName.errors }" />
      <div *ngIf="submitted && getControls.projectName.errors" class="invalid-feedback">
        <div *ngIf="getControls.projectName.errors.required">Project Name is required</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-2">
      <label for="setDates" class="form-check-label">Set Start & End Date</label>
      <input type="checkbox" formControlName="setDates" id="acceptTerms" class="form-check-input" />
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="startDate" name="startDate" formControlName="startDate">
    </div>
    <div class="col-sm-4">
      <input type="date" class="form-control" id="endDate" name="endDate" formControlName="endDate">
    </div>
  </div>
  <div class="form-group row">
    <label for="priority" class="col-sm-2 col-form-label">Priority: </label>
    <div class="col-sm-10">
      <input type="range" formControlName="priority" class="form-control" min="0" max="30"
        [ngClass]="{ 'is-invalid': submitted && getControls.priority.errors }" />
      <div *ngIf="submitted && getControls.priority.errors" class="invalid-feedback">
        <div *ngIf="getControls.priority.errors.required">Priority is required</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="managerName" class="col-sm-2 col-form-label">Manager</label>
    <div class="col-sm-10 row">
      <div class='col-sm-10'>
        <input type="text" formControlName="managerName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && getControls.managerName.errors }" />
        <input type="hidden" formControlName="managerId">
        <div *ngIf="submitted && getControls.managerName.errors" class="invalid-feedback">
          <div *ngIf="getControls.managerName.errors.required">Manager is required</div>
        </div>
      </div>
      <div class='col-sm-2'>
        <button type="reset" class="btn btn-primary" (click)="openModal()">Search</button></div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 text-center">
      <button class="btn btn-primary" type="submit">Add</button>&nbsp;&nbsp;
      <button class="btn btn-dark" type="reset" (click)="resetvalues()">Reset</button>
    </div>
  </div>

</form>