<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a href="#" class="navbar-brand">Project Management</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home">Home</a>
            <a class="nav-item nav-link" routerLink="/projects">Manage Projects</a>
            <a class="nav-item nav-link" routerLink="/tasks">Manage Tasks</a>
            <a class="nav-item nav-link" routerLink="/manageusers">Manage Users</a>
        </div>        
    </div>
</nav>
